---
import ApplePodcast from "./Brands/ApplePodcast.astro";
import Spotify from "./Brands/Spotify.astro";
import GooglePodcast from "./Brands/GooglePodcast.astro";
import PocketCast from "./Brands/PocketCast.astro";
---

<div class="flex items-center gap-4 h-4 mb-16 mt-9 justify-center md:justify-start">
    <Spotify />
    <ApplePodcast />
    <GooglePodcast />
    <PocketCast />
</div>